:root {
  --main-bg-color: #0d1f23;
  --second-bg-color: #132e35;
  --third-bg-color: #2d4a53;
  --main-util-color: #69818d;
  --second-util-color: #afb3b7;
  --third-util-color: #5a636a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-util-color);
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--second-bg-color);
}

.container:hover {
  background-color: var(--third-bg-color);
}

h3 {
  flex: 1;
  padding: 20px;
}

.content {
  flex: 4;
  padding: 20px;
  color: var(--main-util-color);
}

.content:hover {
  color: var(--second-util-color);
}
