---
import Layout from '@l/Layout.astro'
import PersonalInfo from '@c/PersonalInfo.astro'
import LatestProjects from '@c/LatestProjects.astro'
import Skills from '@c/Skills.astro'
import TimeLine from '@c/TimeLine.astro'
import About from '@c/About.astro'
import Contact from '@c/Contact.astro'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <div class="grid grid-cols-1 md:w-[746px] sm:w-[618px] w-[290px] gap-2 place-items-center my-5">
    <PersonalInfo />
    <LatestProjects />
    <Skills />
    <TimeLine />
    <About />
    <Contact />
  </div>
</Layout>
