---
import Layout from '../layouts/Layout.astro'
import PersonalInfo from '../components/PersonalInfo.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import LatestProjects from '../components/LatestProjects.astro'
import Skills from '../components/Skills.astro'
import TimeLine from '../components/TimeLine.astro'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
---

<Layout>
  <Header slot='header' />
  <div class="grid grid-cols-1 md:w-[738px] sm:w-[610px] w-[282px] gap-4 place-items-center my-5">
    <PersonalInfo />
    <LatestProjects />
    <Skills />
    <TimeLine />
    <About />
    <Contact />
    <Footer />
  </div>
</Layout>
