---
import Layout from '../layouts/Layout.astro'
import PersonalInfo from '../components/PersonalInfo.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import LatestProjects from '../components/LatestProjects.astro'
import Skills from '../components/Skills.astro'
import TimeLine from '../components/TimeLine.astro'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
---

<Layout description="Explore a world of creativity and innovation through my diverse portfolio. From stunning visual designs to cutting-edge web development, witness the seamless blend of art and technology. Elevate your digital presence with my expertise and let your ideas come to life. Discover the perfect fusion of passion and skill in my portfolio – where every project tells a unique story.">
  <Header slot='header' />
  <div class="grid grid-cols-1 md:w-[738px] sm:w-[610px] w-[282px] gap-4 place-items-center my-5">
    <PersonalInfo />
    <LatestProjects />
    <Skills />
    <TimeLine />
    <About />
    <Contact />
  </div>
  <Footer />
</Layout>
