---
import AboutMe from '../assets/icons/AboutMe.astro'
---

<section class="my-8" id="about-me">
  <div class="flex flex-row items-center p-1 gap-2 text-white/60">
    <AboutMe class="size-5" />
    <h3 class="md:text-base text-2xl">About me</h3>
  </div>
  <article class="grid md:grid-cols-2 p-2 gap-2 md:gap-y-5 gap-y-3 w-full">
    <!-- Left col -->
    <div>
      <h2 class="md:text-3xl text-4xl font-bold mb-4 text-yellow-200">Who I Am</h2>
    </div>
  
    <!-- Right col -->
    <div>
      <p class="text-white md:text-lg text-2xl">I'm Rosendo, a web developer from San Miguel, El Salvador. I focus on crafting JavaScript backend solutions, blending functionality with elegance. My journey is fueled by curiosity, innovation, and a commitment to continuous learning.</p>
    </div>
  
    <!-- Left col -->
    <div>
      <h2 class="md:text-3xl text-4xl font-bold mb-4 text-yellow-200">Education</h2>
    </div>
  
    <!-- Right col -->
    <div>
      <p class="text-white md:text-lg text-2xl">I earned an Associate Degree in Software Development Engineering from ITCA Fepade San Miguel, forming my educational foundation. Fueled by a passion for learning, I expanded my knowledge independently, delving into JavaScript fundamentals and building RESTful APIs with Express through GitHub and YouTube tutorials, including Midudev's courses. This mix of formal education and online learning enhances my grasp of software development.</p>
    </div>

    <!-- Left col -->
    <div>
      <h2 class="md:text-3xl text-4xl font-bold mb-4 text-yellow-200">Experience</h2>
    </div>
  
    <!-- Right col -->
    <div>
      <p class="text-white md:text-lg text-2xl">While I lack formal work experience in web development, I've undertaken personal projects, both within and outside ITCA. These endeavors, utilizing key technologies like Astro, Express, and Tailwind, have been instrumental in shaping my understanding of the web development domain. They serve as practical learning experiences, contributing to my proficiency in this dynamic field.</p>
    </div>
  </article>
</section>
