---
import Mail from '../assets/icons/Mail.astro'
---

<section class="w-full">
  <div class="flex flex-row items-center p-1 gap-2 text-white/60">
    <Mail class="md:size-5 size-4" />
    <h3 class="md:text-base text-md">Contact</h3>
  </div>
  <form class="max-w-md my-5" id="contactForm">
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" id="floating_name" class="block py-2.5 px-0 w-full md:text-sm text-lg text-gray-100 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="floating_name" class="peer-focus:font-medium absolute md:text-sm text-base text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Your name</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <label for="message" class="block mb-2 md:text-sm text-base font-medium text-gray-400">Your message</label>
      <textarea id="message" rows="4" class="block p-2.5 w-full md:text-sm text-lg text-gray-100 bg-transparent rounded-lg border-2 border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Leave a comment..."></textarea>
    </div>
    <button type="submit" id="buttonF" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  </form>
  <div class="hidden p-4 mb-4 text-sm rounded-lg bg-gray-800 text-red-400" role="alert">
    <span class="font-medium">Danger alert!</span> Change a few things up and try submitting again.
  </div>
  <div class="hidden p-4 mb-4 text-sm rounded-lg bg-gray-800 text-green-400" role="alert">
    <span class="font-medium">Success alert!</span> Change a few things up and try submitting again.
  </div>
</section>

<script>
  import { sendEmail } from '../utils/email.js'
  const form = document.getElementById('contactForm')

  form.addEventListener('submit', async (e) => {
    e.preventDefault()
    console.log('yes')
    sendEmail('juan', 'hola')
  })

</script>
