---
import Yo from '@imgs/yo.webp'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<footer class="rounded-lg shadow bg-transparent/10 w-full mt-3">
  <div class="w-full max-w-screen-xl mx-auto p-3 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://www.linkedin.com/in/rosendo-garcia-a498b9279/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
        <img src={Yo.src} class="w-8 h-auto rounded" alt="It should be me" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Rosendo Garcia</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-400 sm:mb-0">
        <li>
          <a href="https://twitter.com/rooos_endo" target="_blank" class="hover:underline me-4 md:me-6">Twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rosendo-garcia-a498b9279/" target="_blank" class="hover:underline me-4 md:me-6">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/Roosendo" target="_blank" class="hover:underline me-4 md:me-6">GitHub</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-400 text-center">Styled with <a href="https://flowbite.com/" target="_blank" class="hover:underline">Flowbite</a>.</span>
    <span class="block text-sm text-gray-400 text-center">SVG icons from <a href="https://tabler.io/icons" target="_blank" class="hover:underline">Tabler Icons</a> & <a href="https://svgl.app/" target="_blank" class="hover:underline">SVGL</a>.</span>
    <span class="block text-sm text-gray-400 text-center">{i18n.FOOTER.LABEL_1}. {i18n.FOOTER.LABEL_2} <a href="https://github.com/midudev" target="_blank" class="hover:underline">@midudev</a>.</span>
  </div>
</footer>
