---
import ProjectsModal from './ProjectsModal.astro'

const { title, body, hasImgs, imgs, hasModal } = Astro.props
---

<div class="frame-description">
  <div>
    <h2 class='frame-description__title'>{title}</h2>
    <p class='frame-description__body'>{body}</p>
    {hasImgs && (
      <div class='frame-description__imgs'>
        {imgs.map(img => (
          <img
            src={img}
            alt={title}
            class='frame-description__img'
          />
        ))}
      </div>
    )}
    {hasModal && <ProjectsModal />}
  </div>
</div>

<style is:inline>
  .frame-description__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: start center;
    margin-top: 5px;
  }

  .frame-description__img {
    max-width: 50px;
    height: auto;
    transition: transform 0.2s ease;
    border-radius: 7px;
  }

  .frame-description__img:hover {
    transform: scale(1.02);
  }

  .frame-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    gap: 10px;
    background-color: var(--second-bg-color);
    border: 1px solid var(--second-util-color);
    border-radius: 7px;
    height: auto;
    width: calc(60vw - 20px);
    overflow-y: auto;
    transform: scale(0.9);
    transition: transform 0.3s ease;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 30%;
  }

  @media screen and (max-width: 767px) {
    .frame-description {
      display: block;
      margin-bottom: 10px;
      width: calc(80vw - 20px);
      max-height: calc(70vh - 25px);
    }
  }

  .frame-description button {
    background-color: var(--second-util-color);
    color: var(--main-bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto 0;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 75px;
      scale: 0.5;
    }

    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }

</style>
