---
import LanguageSelector from './LanguageSelector.astro'
---
<header id="header-nav" class="flex justify-center items-center text-[#eea5ee] p-2 mx-auto sticky top-0 w-full z-10">
  <nav class="flex flex-wrap items-center justify-around p-1 gap-3"> 
    <a class="hover:bg-white/10 rounded-lg px-3 transition md:text-base text-sm sm:w-auto" href="#projects">Projects</a>
    <a class="hover:bg-white/10 rounded-lg px-3 transition md:text-base text-sm sm:w-auto" href="#about-me">About me</a>
    <a class="hover:bg-white/10 rounded-lg px-3 transition md:text-base text-sm sm:w-auto" href="#contact">Contact</a>
    <LanguageSelector />
  </nav>
</header>