<header id="header-nav" class="flex justify-center items-center text-violet-500 mx-auto py-5 sticky top-0 w-full h-auto z-10">
  <nav> 
    <a class="hover:bg-white/10 rounded-lg px-3 transition text-base" href="#projects">Projects</a>
    <a class="hover:bg-white/10 rounded-lg px-3 transition text-base" href="#about-me">About me</a>
    <!-- <a class="hover:bg-white/10 rounded-lg px-3 transition text-base" href="#contact">Contact</a> -->
  </nav>
</header>
