---
import Yo from '../assets/imgs/yo.webp'
import Pill from './Pill.astro'
import Email from '../assets/icons/Mail.astro'
import GitHub from '../assets/icons/GitHub.astro'
import LinkedIn from '../assets/icons/LinkedIn.astro'
import Instagram from '../assets/icons/Instagram.astro'
import Twitter from '../assets/icons/Twitter.astro'
---

<div class="flex flex-col text-left w-full place-items-center">
  <section class="grid gap-3 text-white">
    <img src={Yo.src} alt='It should be me' class="size-24 h-auto rounded" loading="lazy"/>
    <div class="flex flex-row items-center gap-3">
      <h1 class="md:text-3xl text-4xl">Hey, I'm Rosendo</h1>
      <a href="https://www.linkedin.com/in/rosendo-garcia-a498b9279/" target="_blank" class="text-blue-700 transition bg-slate-300 hover:text-white border border-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-2 py-1 text-center me-3 mb-2">
        Available for hire
      </a>
    </div>
    <p class="md:text-lg text-2xl"><span class="text-emerald-400">Web developer from San Miguel, El Salvador</span>, I navigate the dynamic realm of technology with a focus on <span class="text-yellow-200">JavaScript backend</span> solutions. Eager to learn and driven by innovation, <span class="text-violet-500">I shape digital experiences that blend functionality with elegance.</span></p>
  </section>
  <nav class="flex gap-4 mt-8 flex-wrap md:w-[70%] w-[90%] mx-auto justify-center">
    <Pill href="https://github.com/Roosendo">
      <GitHub class="size-5 text-emerald-400" />
      <span class="text-white/80 md:text-base text-xl">GitHub</span>
    </Pill>
    <Pill href="mailto:rosendo.garcia73@outlook.com">
      <Email class="size-5 text-emerald-400" />
      <span class="text-white/80 md:text-base text-xl">Email</span>
    </Pill>
    <Pill href="https://www.linkedin.com/in/rosendo-garcia-a498b9279/">
      <LinkedIn class="size-5 text-emerald-400" />
      <span class="text-white/80 md:text-base text-xl">LinkedIn</span>
    </Pill>
    <Pill href="https://www.instagram.com/callmerosendo/">
      <Instagram class="size-5 text-emerald-400" />
      <span class="text-white/80 md:text-base text-xl">Instagram</span>
    </Pill>
    <Pill href="https://twitter.com/rooos_endo">
      <Twitter class="size-5 text-emerald-400" />
      <span class="text-white/80 md:text-base text-xl">Twitter</span>
    </Pill>
  </nav>
</div>
