---
import ModalContainer from './ModalContainer.jsx'
import PivotModal from './PivotModal.astro'
import Php2 from '../assets/imgs/crud2.webp'
import Api1 from '../assets/imgs/api1.webp'
import FS2 from '../assets/imgs/fullstack2.webp'
---

<ModalContainer client:visible>
  <PivotModal
    title='Pokémon Explorer: Async API Consumption and Dynamic Filtering'
    body='Immerse yourself in the Pokémon universe with my JavaScript project! Using async/await, it fetches data from the API, featuring a sleek progress bar. Filter Pokémon by type or name for a personalized exploration experience. This user-friendly project showcases the magic of Pokémon through pure JavaScript.'
    hasImgs
    imgs={[Api1.src]}
    hasPrjt
    projectLink='https://pokemon-api-iota.vercel.app/'
    githubUrl='https://github.com/Roosendo/pokemon-api'
  />
  <PivotModal
    title='PHP CRUD with Administrative Roles and Secure Sessions'
    body='Experience my PHP-based CRUD project for efficient personnel management. With an integrated database, it offers robust administrative roles and secure sessions, ensuring only registered users access the application. Print user profiles with role-dependent permissions, providing administrators control over profile printing. Elevate your personnel management with this powerful, user-friendly solution.'
    hasImgs
    imgs={[Php2.src]}
    hasPrjt={false}
    githubUrl='https://github.com/Roosendo/crud-php'
  />
  <PivotModal
    title='FullStack Resource Management Solution'
    body='Explore our Fullstack Resource Management System powered by Express and MySQL. The project, developed collaboratively with classmates, boasts an intuitive UI built with vanilla JavaScript. Utilizing local storage, Express, CORS, and MySQL2, it streamlines resource allocation, tracking, and reporting. Witness the future of resource management today.'
    hasImgs
    imgs={[FS2.src]}
    hasPrjt={false}
    githubUrl='https://github.com/PaolaPaz1/proyecto-final-main'
  />
  <p class='incoming'>And more incoming...</p>
</ModalContainer>
