---
import Pill from './Pill.astro'
import Trophy from '../assets/icons/Trophy.astro'
import AstroIcon from '../assets/icons/skills/AstroIcon.astro'
import CSS from '../assets/icons/skills/CSS.astro'
import Express from '../assets/icons/skills/Express.astro'
import HTML from '../assets/icons/skills/HTML.astro'
import JavaScript from '../assets/icons/skills/JavaScript.astro'
import Node from '../assets/icons/skills/Node.astro'
import React from '../assets/icons/skills/React.astro'
import Tailwind from '../assets/icons/skills/Tailwind.astro'
import TypeScript from '../assets/icons/skills/TypeScript.astro'

const skills = [
  {
    name: 'HTML',
    icon: HTML,
  },
  {
    name: 'CSS',
    icon: CSS,
  },
  {
    name: 'JavaScript',
    icon: JavaScript,
  },
  {
    name: 'Node',
    icon: Node,
  },
  {
    name: 'TypeScript',
    icon: TypeScript,
  },
  {
    name: 'Express',
    icon: Express,
  },
  {
    name: 'Tailwind',
    icon: Tailwind,
  },
  {
    name: 'React',
    icon: React,
  },
  {
    name: 'Astro',
    icon: AstroIcon,
  },
]
---

<div class="flex flex-row items-center w-full p-1 gap-3 text-white/60">
  <Trophy class="md:size-5 size-4" />
  <h3 class="md:text-base text-md">Skills</h3>
</div>
<section class="flex gap-4 mt-4 flex-wrap md:w-[70%] w-[90%] mx-auto justify-center">
  {
    skills.map((skill) => (
      <Pill>
        <skill.icon class="md:size-5 size-4" />
        <span class="text-white/80 md:text-base text-sm">{skill.name}</span>
      </Pill>
    ))
  }
</section>
