---
import Pill from './Pill.astro'
import Trophy from '../assets/icons/Trophy.astro'
import { SKILLS } from '../utils/SKILLS.ts'
---

<section class="w-full">
  <div class="flex flex-row items-center w-full p-2 gap-3 text-white/60">
    <Trophy class="md:size-5 size-4" />
    <h3 class="md:text-base text-md">Skills</h3>
  </div>
  <div class="flex gap-3 flex-wrap mx-auto justify-center md:w-[70%] w-[90%]">
    {
      SKILLS.map((skill) => (
        <Pill>
          <skill.icon class="md:size-5 size-4" />
          <span class="text-white/80 md:text-base text-sm">{skill.name}</span>
        </Pill>
      ))
    }
  </div>
</section>
