---
import Briefcase from '../assets/icons/Briefcase.astro'
---

<section>
  <div class="flex flex-row w-full items-center p-1 gap-3 text-white/60">
    <Briefcase class="size-5" />
    <h3 class="md:text-base text-2xl">Work experience</h3>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 md:text-sm text-xl font-normal leading-none text-white/80">November - December 2022</time>
      <h3 class="md:text-3xl text-4xl font-semibold text-white">Sales advisor at Gasolinera Texaco</h3>
      <p class="mb-4 md:text-lg text-2xl font-normal text-emerald-400">Managed transactions and provided customer service at a bustling gas station. Responsibilities included fuel dispensing, payment processing, and ensuring a positive customer experience.</p>
    </li>
    <li class="ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 md:text-sm text-xl font-normal leading-none text-white/80">November - December 2021</time>
      <h3 class="md:text-3xl text-4xl font-semibold text-white">Sales advisor at Par2</h3>
      <p class="md:text-lg text-2xl font-normal text-emerald-400">Engaged in customer-centric roles at a prominent shoe store. Primarily focused on delivering exceptional service, handling inquiries, and facilitating sales.</p>
    </li>
  </ol>
</section>

<!--
  to add more, to 'li' put the class 'mb-10 ms-4' and to the last the class 'ms-4'
  the 'mb-10 ms-4' is larger than 'ms-4' because it has a margin-bottom of 10
-->
