---
import Briefcase from '@icons/Briefcase.astro'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='animate-scroll mt-3 p-2'>
  <div class='mb-3 flex w-full flex-row items-center gap-3 text-black/60 dark:text-white/60'>
    <Briefcase class='size-4 md:size-5' />
    <h3 class='text-md md:text-base'>{i18n.WORK_EXPERIENCE.LABEL}</h3>
  </div>
  <ol class='relative border-s border-gray-400 dark:border-gray-200'>
    {
      i18n.WORK_EXPERIENCE.JOBS.map((job) => (
        <li class='ms-4'>
          <div class='absolute -start-1.5 mt-1.5 size-3 rounded-full border border-emerald-600 bg-emerald-600 dark:border-emerald-400 dark:bg-emerald-400' />
          <time class='mb-1 text-sm font-normal leading-none text-black/80 dark:text-white/80'>
            {job.TIME}
          </time>
          <h3 class='text-xl font-semibold text-emerald-600 dark:text-emerald-400 md:text-2xl'>
            {job.TITLE}
          </h3>
          <p class='mb-4 text-base font-normal text-black dark:text-white md:text-lg'>
            {job.DESCRIPTION}
          </p>
        </li>
      ))
    }
  </ol>
</section>
