.frame-description__imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.frame-description__img {
  max-width: 50px;
  height: auto;
  transition: transform 0.2s ease;
  border-radius: 7px;
}

.frame-description__img:hover {
  transform: scale(1.02);
}

.frame-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: var(--second-bg-color);
  border: 1px solid var(--second-util-color);
  border-radius: 7px;
  max-height: calc(80vh - 20px);
  width: calc(80% - 20px);
}

@media screen and (max-width: 767px) {
  .frame-description {
    display: block;
    margin-bottom: 10px;
  }
}
