---
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/portfolio.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Rosendo Garcia | Portfolio</title>
	</head>
	<body>
		<slot name="header" />
		<main class="flex flex-col place-items-center w-full justify-center">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		overflow: hidden;
	}

	html {
		scroll-behavior: smooth;
		font-family: 'Onest Variable', sans-serif, system-ui;
		font-size: 16px;
		font-weight: 500;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	::-webkit-scrollbar {
		width: 5px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #fff;
		border-radius: 7px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	body {
		min-height: 100vh;
		overflow-x: hidden;
		overflow: auto;
		background-color: #2e2e2e;
	}

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	section {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 15%;
	}

	@keyframes reveal {
		from {
			opacity: 0;
			transform: translate(-100%, 75%) rotate(-45deg) scale(0.5);
		}

		to {
			opacity: 1;
			transform: translate(0, 0) rotate(0) scale(1);
		}
	}

	@media (max-width: 640px) {
		section {
			animation: revealMobile linear both;
			animation-timeline: view();
			animation-range: entry 10% cover 15%;
		}

		@keyframes revealMobile {
			from {
				opacity: 0;
				transform: translate(-100%, 75%) rotate(-15deg) scale(0.5);
			}

			to {
				opacity: 1;
				transform: translate(0, 0) rotate(0) scale(1);
			}
		}
	}

	#header-nav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}

	@keyframes blur {
		to {
			box-shadow:
				0px 5px 50px -5px rgba(0, 0, 0, 0.1),
				0px 0px 0 1px rgba(0, 0, 0, 0.3);
			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(10px);
		}
	}

</style>
